In [1]:
import pandas as pd
import numpy as np
import json
import warnings

warnings.filterwarnings('ignore')

data = pd.read_csv('/home/andrey/PycharmProjects/Trades/data/full_statement.csv')

In [2]:
base_currency = {
    'USD': 1,
    'AUD': 0.77135,
    'GBP': 1.4112,
    'EUR': 1.21212,
    'NZD': 0.71454,
    'CAD': 0.81,
    'CHF': 1.09,
    'JPY': 0.0090,
    'HKD': 0.13
}

In [3]:
def data_separation(data):
    all_data = {}
    for names in ['Trades',
                  'Interest',
                  'Dividends',
                  'Financial Instrument Information']:
        if names in data.Statement.values:
            d = data[data.Statement == names].reset_index(drop=True)
            d.columns = d.iloc[0]
            d = d[d.columns.dropna()]
            all_data[names] = d
            d.to_csv('/home/andrey/PycharmProjects/Trades/data/'+names+'.csv', index=False)
    return all_data

all_data = data_separation(data)

In [4]:
def preprocessing_of_trades(data):
    data = data[data['DataDiscriminator'] == 'Order']
    if 'Bonds' in data['Asset Category'].values:
        data.Symbol[data['Asset Category'] == 'Bonds'] = data.Symbol[data['Asset Category'] == 'Bonds'].apply(lambda x: ' '.join(x.split(' ')[:-1]))
    data['Quantity'] = data['Quantity'].apply(
        lambda x: x.replace(',', '') if x is not np.nan else x).astype(float)
    data[['Proceeds', 'T. Price']] = data[['Proceeds', 'T. Price']].astype(float)
    data['Date/Time'] = pd.to_datetime(data['Date/Time']).dt.date

    data.to_csv('/home/andrey/PycharmProjects/Trades/data/preprocess_trades.csv', index=False)
    return data

data_preprocess = preprocessing_of_trades(all_data['Trades'])
data_preprocess

,Trades,Header,DataDiscriminator,Asset Category,Currency,Symbol,Date/Time,Quantity,T. Price,C. Price,Proceeds,Comm/Fee,Basis,Realized P/L,MTM P/L,Code
1,Trades,Data,Order,Stocks,AUD,NCM,2021-02-21,2000.0,24.340,24.37,-48680.0,-38.944,48718.944,0,60,O
2,Trades,Data,Order,Stocks,AUD,NCM,2021-04-06,-2000.0,25.690,25.91,51380.0,-41.104,-48718.944,2619.952,-440,C;P
4,Trades,Data,Order,Stocks,AUD,TYR,2021-02-02,10000.0,2.650,2.62,-26500.0,-21.2,26521.2,0,-300,O
5,Trades,Data,Order,Stocks,AUD,TYR,2021-02-21,-10000.0,2.900,3.04,29000.0,-23.2,-26521.2,2455.6,-1400,C
9,Trades,Data,Order,Stocks,CAD,SSRM,2021-02-18,3000.0,19.500,19.1,-58500.0,-30,58530,0,-1200,O;P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,Trades,Data,Order,Bonds,USD,FLR 3 1/2 12/15/24,2021-03-23,-50000.0,102.100,102.279999,51050.0,-20.75,-49522,1507.25,-89.9995,C
422,Trades,Data,Order,Bonds,USD,MUR 6 7/8 08/15/24,2021-02-04,10000.0,100.500,100.5,-10050.0,-10,10060,0,0,O
423,Trades,Data,Order,Bonds,USD,MUR 6 7/8 08/15/24,2021-03-29,-10000.0,102.000,102.498001,10200.0,-19.75,-10060,120.25,-49.8001,C
425,Trades,Data,Order,Bonds,USD,SIG 4.7 06/15/24,2021-03-10,50000.0,100.250,100,-50125.0,-47.5,50172.5,0,-125,O
426,Trades,Data,Order,Bonds,USD,SIG 4.7 06/15/24,2021-04-06,-50000.0,100.375,100.519997,50187.5,-36.5,-50172.5,-21.5,-72.4986,C;P

In [5]:
def preprocessing_of_dividends(div):
    div = div.dropna()
    div.drop(index=0, inplace=True)
    div.Description = div.Description.apply(lambda x: x[x.find('(')+1:x.find(')')])
    div.reset_index(drop=True, inplace=True)
    div = div.rename(columns={'Description': 'Security ID'})
    div.Amount = div.Amount.astype(float)
    div.Amount = div.Amount.apply(lambda x: x*base_currency[div.Currency[div.Amount==x].item()])
    
    return div

div = preprocessing_of_dividends(all_data['Dividends'])
div

0  Dividends Header Currency        Date   Security ID      Amount
0  Dividends   Data      CAD  31/03/2021  CA7847301032  153.916200
1  Dividends   Data      EUR  17/03/2021  GB00B10RZP78  413.866253
2  Dividends   Data      EUR  29/03/2021  NL00150006B0  503.223739
3  Dividends   Data      EUR  29/03/2021  NL00150006B0    4.399996
4  Dividends   Data      USD  18/03/2021  US6516391066  385.000000
5  Dividends   Data      USD  25/03/2021  US38059T1060  640.150000
6  Dividends   Data      USD  30/04/2021  US46090E1038   39.470000

In [6]:
def multiplier_comparison(df):
    index = df[df.Header == 'Header'].index.append(pd.Index([df.shape[0]]))

    j = index[0]
    multiplier = {}
    for i in index[1:]:
        d = df.loc[j:i - 1].reset_index(drop=True)
        d.columns = d.iloc[0]
        d.drop(index=0, inplace=True)
        d = d.reset_index(drop=True)
        d['Multiplier'] = d['Multiplier'].apply(
            lambda x: x.replace(',', '')).astype(float)
        if d['Asset Category'][0] in ['Stocks', 'Futures', 'Bonds']:
            multiplier[d['Asset Category'][0]] = d[['Symbol', 'Multiplier']]
        else:
            multiplier[d['Asset Category'][0]] = d[['Description', 'Multiplier']].rename(
                columns={'Description': 'Symbol'})
        j = i
    return multiplier

financial_instrument = all_data['Financial Instrument Information']
multiplier = multiplier_comparison(financial_instrument)
financial_instrument

,Financial Instrument Information,Header,Asset Category,Symbol,Description,Conid,Security ID,Listing Exch,Multiplier,Type,Code
0,Financial Instrument Information,Header,Asset Category,Symbol,Description,Conid,Security ID,Listing Exch,Multiplier,Type,Code
1,Financial Instrument Information,Data,Stocks,3436.T,SUMCO CORP,36844262,JP3322930003,TSEJ,1,COMMON,NaN
2,Financial Instrument Information,Data,Stocks,700,TENCENT HOLDINGS LTD,152791428,KYG875721634,SEHK,1,COMMON,NaN
3,Financial Instrument Information,Data,Stocks,968,XINYI SOLAR HOLDINGS LTD,139831920,KYG9829N1025,SEHK,1,COMMON,NaN
4,Financial Instrument Information,Data,Stocks,9888,BAIDU INC-CLASS A,476787454,KYG070341048,SEHK,1,COMMON,NaN
...,...,...,...,...,...,...,...,...,...,...,...
71,Financial Instrument Information,Data,Bonds,BRASKM 6.45 02/03/24,BRASKM 6.45 02/03/24,143041079,US10553YAF25,NaN,1,Corp,BRASKM
72,Financial Instrument Information,Data,Bonds,DSPORT 5 3/8 08/15/26,DSPORT 5 3/8 08/15/26,375020605,USU2527JAA35,NaN,1,Corp,DSPORT
73,Financial Instrument Information,Data,Bonds,FLR 3 1/2 12/15/24,FLR 3 1/2 12/15/24,174134660,US343412AC69,NaN,1,Corp,FLR
74,Financial Instrument Information,Data,Bonds,MUR 6 7/8 08/15/24,MUR 6 7/8 08/15/24,243798094,US626717AH56,NaN,1,Corp,MUR
75,Financial Instrument Information,Data,Bonds,SIG 4.7 06/15/24,SIG 4.7 06/15/24,151615542,US82671AAA16,NaN,1,Corp,SIG

In [7]:
multiplier

{'Stocks': 0     Symbol  Multiplier
 0     3436.T         1.0
 1        700         1.0
 2        968         1.0
 3       9888         1.0
 4       AAPL         1.0
 5        ABN         1.0
 6        AGS         1.0
 7         BN         1.0
 8         CX         1.0
 9        DBA         1.0
 10        DG         1.0
 11       ETN         1.0
 12       GFI         1.0
 13       GME         1.0
 14       HMY         1.0
 15     INN1d         1.0
 16     LIGHT         1.0
 17       MBT         1.0
 18       NCM         1.0
 19       NEM         1.0
 20     PAASF         1.0
 21       PBR         1.0
 22       PRX         1.0
 23       QQQ         1.0
 24      R6Cd         1.0
 25       RB.         1.0
 26  RDSA.DIV         1.0
 27       SGO         1.0
 28      SOLB         1.0
 29      SSRM         1.0
 30       TYR         1.0
 31      UNVB         1.0
 32       VIV         1.0
 33     VOW3d         1.0,
 'Equity and Index Options': 0                 Symbol  Multiplier
 0     CI 16APR21 190.0 P       100.0
 1     COP 20AUG21 55.0 C       100.0
 2     COP 20AUG21 60.0 C       100.0
 3     COP 20AUG21 47.0 P       100.0
 4    GME 05FEB21 400.0 C       100.0
 5    GME 12FEB21 200.0 C       100.0
 6     GME 05MAR21 45.0 C       100.0
 7    GME 19MAR21 200.0 C       100.0
 8    GME 07MAY21 250.0 C       100.0
 9    GME 21MAY21 140.0 P       100.0
 10    NVT 19MAR21 22.5 P       100.0
 11   NESN 19MAR21 98.0 P       100.0
 12  QRVO 20AUG21 140.0 P       100.0
 13  SPX 16JUL21 3700.0 P       100.0
 14  SPX 20AUG21 3700.0 P       100.0
 15  TSLA 19MAR21 700.0 P       100.0
 16  TSLA 16APR21 500.0 P       100.0
 17  TSLA 16JUL21 400.0 P       100.0,
 'Futures': 0       Symbol  Multiplier
 0         6AH1    100000.0
 1         6EM1    125000.0
 2       S30YK1       100.0
 3  ZB   JUN 21      1000.0
 4  ZN   JUN 21      1000.0
 5  ZN   SEP 21      1000.0,
 'Options On Futures': 0                Symbol  Multiplier
 0    AUD 09APR21 0.76 P    100000.0
 1     GC APR21 1700.0 P       100.0
 2   EUR 03MAR21 1.215 C    125000.0
 3    EUR 07APR21 1.19 P    125000.0
 4  EUR 14APR21 1.1925 C    125000.0
 5     EUR 17MAR21 1.2 P    125000.0
 6   EUR 24FEB21 1.215 C    125000.0,
 'Bonds': 0                 Symbol  Multiplier
 0     ATI 5 7/8 08/15/23         1.0
 1   BRASKM 6.45 02/03/24         1.0
 2  DSPORT 5 3/8 08/15/26         1.0
 3     FLR 3 1/2 12/15/24         1.0
 4     MUR 6 7/8 08/15/24         1.0
 5       SIG 4.7 06/15/24         1.0}

In [8]:
def signum(num):
    return -1 if num<0 else 1

In [9]:
def matching_trades(data, div, multiplier, base_currency):
    d = {}
    count = 0
    predict = pd.DataFrame(
        columns=['Instrument',
                 'Currency',
                 'Result',
                 'Quantity',
                 'EntryDt',
                 'Entry',
                 'Closure Dt',
                 'Closure',
                 'Result in BC',
                 'Dividends',
                 'Multiplier',
                 'Type']
    )
    for i in data.index:
        instrument = data.Symbol[i]
        quantity = data.Quantity[i]
        price = data['T. Price'][i]
        if instrument not in d:
            category = data['Asset Category'][i]
            d[instrument] = {'Instrument': instrument,
                             'Currency': data['Currency'][i],
                             'Result': None,
                             'Quantity': None,
                             'EntryDt': data['Date/Time'][i],
                             'Entry': price,
                             'Closure Dt': None,
                             'Closure': None,
                             'Result in BC': None,
                             'Dividends': None,
                             'Multiplier': multiplier[category][
                                 multiplier[category][
                                     'Symbol'] == instrument].Multiplier.item() if category in multiplier.keys() else 1,
                             'Type': category}

            sign = signum(data.Quantity[i])
            count = quantity
        elif signum(quantity) * count < 0:
            d[instrument]['Closure Dt'] = data['Date/Time'][i]
            d[instrument]['Quantity'] = -quantity
            d[instrument]['Closure'] = price
            d[instrument]['Result'] = np.abs(quantity) * (
                    d[instrument]['Closure'] - d[instrument]['Entry']) * d[instrument]['Multiplier']
            d[instrument]['Result in BC'] = d[instrument]['Result'] * base_currency[d[instrument]['Currency']]
            predict = predict.append(pd.Series(d[instrument].values(), index=predict.columns),
            ignore_index=True)
            count += quantity
        else:
            d[instrument]['Entry'] = (count * d[instrument]['Entry'] + quantity * price) / (count + quantity)
            count += quantity
    
    predict = sort_by_day(predict)
    
    for symbol in predict[predict.Type=='Stocks'].Instrument:
        sec_id = financial_instrument[financial_instrument.Symbol==symbol]['Security ID'].item()
        if sec_id in div['Security ID'].values:
            index = div[div['Security ID']==sec_id].index
            amount = div.Amount[index].item()
            predict['Dividends'][predict.Instrument==symbol] = amount
    
    return predict

In [10]:
def sort_by_day(data):
    j = 0 
    drop_index = []
    for i in data.index[1:]:
        value_1 = data.iloc[j][['Instrument', 'Closure Dt']]
        value_2 = data.iloc[i][['Instrument', 'Closure Dt']]
        if value_2.equals(value_1) and data.Quantity[i]*data.Quantity[j]>0:
            data['Closure'][i] = (data['Closure'][i]*data['Quantity'][i]+data['Closure'][j]*data['Quantity'][j])/(data['Quantity'][i]+data['Quantity'][j])
            data['Quantity'][i] += data['Quantity'][j]
            data['Result'][i] += data['Result'][j]
            data['Result in BC'][i] += data['Result in BC'][j]
            drop_index.append(j)
        j = i
    data.drop(index=drop_index, inplace=True)
    data.reset_index(drop=True, inplace=True)
    return data

In [11]:
result = matching_trades(data_preprocess, div, multiplier, base_currency)
result.to_csv('/home/andrey/PycharmProjects/Trades/data/matching_trades.csv', index=False)
result

,Instrument,Currency,Result,Quantity,EntryDt,Entry,Closure Dt,Closure,Result in BC,Dividends,Multiplier,Type
0,NCM,AUD,2700.000000,2000.0,2021-02-21,24.340000,2021-04-06,25.69000,2082.645000,None,1.0,Stocks
1,TYR,AUD,2500.000000,10000.0,2021-02-02,2.650000,2021-02-21,2.90000,1928.375000,None,1.0,Stocks
2,SSRM,CAD,857.999996,3000.0,2021-02-18,19.500000,2021-04-06,19.78600,694.979997,153.9162,1.0,Stocks
3,ABN,EUR,840.000000,3000.0,2021-02-01,8.720000,2021-02-16,9.00000,1018.180800,None,1.0,Stocks
4,AGS,EUR,442.500000,250.0,2021-01-28,42.530000,2021-02-03,44.30000,536.363100,None,1.0,Stocks
...,...,...,...,...,...,...,...,...,...,...,...,...
106,EUR.USD,USD,596.250000,125000.0,2021-01-07,1.184900,2021-03-09,1.18967,596.250000,None,1.0,Forex
107,GBP.USD,USD,1266.000000,-300000.0,2021-02-18,1.397100,2021-02-19,1.40132,1266.000000,None,1.0,Forex
108,NZD.USD,USD,1241.000000,200000.0,2021-03-23,0.700615,2021-04-05,0.70682,1241.000000,None,1.0,Forex
109,MUR 6 7/8 08/15/24,USD,15000.000000,10000.0,2021-02-04,100.500000,2021-03-29,102.00000,15000.000000,None,1.0,Bonds
110,SIG 4.7 06/15/24,USD,6250.000000,50000.0,2021-03-10,100.250000,2021-04-06,100.37500,6250.000000,None,1.0,Bonds